<h3 class="text-center" ng-if="tabletitle != null">{{tabletitle}}</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>
        Actions
      </th>
      <th ng-repeat="columnName in tablecolumns track by $index">{{columnName}}</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dataObject in tabledata track by $index">
        <td>
          <button class="btn btn-sm glyphicon glyphicon-eye-open" ng-click="showItem(dataObject)"></button>
          <button class="btn btn-sm glyphicon glyphicon-edit" ng-click="updateItem(dataObject)"></button>
          <button class="btn btn-sm glyphicon glyphicon-remove-circle" ng-click="deleteItem(dataObject)"></button>
        </td>
        <td ng-repeat="(key, value) in dataObject">{{value}}</td>
      </tr>
    </tbody>
  </table>
  <div class="">
    <div class="col-lg-2">
      <p class="full_heigth">{{currentPage}} - {{ maxPage }}</p>
    </div>
    <div class="col-lg-10 text-right">
      <button class="btn btn-sm"><</button>
      <button class="btn btn-sm">></button>
    </div>
  </div>
</div>
